<a href="https://colab.research.google.com/github/igorjuciel/aulas-Pablo/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
num = [1, 5, 9, 2, 7]

In [14]:
#tamnha de uma linha
len(num)

5

In [12]:
alunos = ['Geraldo', 'Igor', 'Ailton', 'Beatriz', 'Fernanda', 'Lucas']

In [15]:
len(alunos)

6

In [10]:
#mudando o nome dos alunos
alunos[2] = 'mateus'
alunos[5] = 'roberto'
alunos

['geraldo', 'igor', 'mateus', 'beatriz', 'fernanda', 'roberto']

In [ ]:
if 'Ailton' in alunos:

In [19]:
alunos.append('joao')
alunos

['Geraldo',
 'Igor',
 'Ailton',
 'Beatriz',
 'Fernanda',
 'Lucas',
 'loro',
 'alberto',
 'renata',
 'joao']

In [22]:
alunos.append(input('digite o nome:'))
alunos

digite o nome:ionara

['Geraldo',
 'Igor',
 'Ailton',
 'Beatriz',
 'Fernanda',
 'Lucas',
 'loro',
 'alberto',
 'renata',
 'joao',
 'ionara',
 'ionara']

In [27]:
#procurar o nome na lista
if 'Ailton' in alunos:
  print('tem Ailton SIIMMM')  
else:
   print('tem Ailton NAAAAAOOOO! ')

tem Ailton SIIMMM

In [30]:
nome = input('digite o nome: ')
if nome in alunos:
  print('tem ', nome)
else:
   print( 'não tem ', nome)

digite o nome: Alberto
não tem  Alberto

In [38]:
#criar uma lista com numeros de 1 a 15
numeros = []
for num in range(15):
  numeros.append(num)  
numeros

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [46]:
dobro = []
for num in numeros:  
   dobro.append(numeros [num]*2)
dobro

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

In [49]:
#descobrir se o numero é par
a = 7
if a%2 == 0:
  print('é par')
else:
    print('é impar')

é impar

In [60]:

for num in numeros:
 if numeros[num]%2 == 0:
    print(numeros[num])

0
2
4
6
8
10
12
14