<a href="https://colab.research.google.com/github/igorjuciel/aulas-Pablo/blob/main/Untitled5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
tp_frutas = ('maça','banana', 'laranja','goiaba')
tp_frutas

('maça', 'banana', 'laranja', 'goiaba')

In [2]:
lst_frutas = list(tp_frutas)
type(lst_frutas)
lst_frutas

['maça', 'banana', 'laranja', 'goiaba']

In [3]:
tp_meses = ('jan','fev', 'mar', 'abr', 'mai', 'jun', 'jul', 'ago', ' set', 'out', 'nov', ' dez')
tp_meses[5:11]

('jun', 'jul', 'ago', ' set', 'out', 'nov')

In [7]:
uf_cod = [('pe', 81), ('rj', 21), ('sp', 11), ('pb', 83) ]

sorted(uf_cod, key = lambda x : x[1])

[('sp', 11), ('rj', 21), ('pe', 81), ('pb', 83)]

In [13]:
nome_nasc = [('zé', 2003), ('maria', 1998), ('alice' , 2000)]
sorted(nome_nasc, key = lambda x: x[1], reverse = True)

[('zé', 2003), ('alice', 2000), ('maria', 1998)]

In [14]:
alunos = ('kelly', 'adauto', 'marceline', 'luana', 'henrique')
notas = (5.5, 8, 9, 7.5, 6.5 )

Av1 = tuple(zip(alunos, notas))
Av1

(('kelly', 5.5),
 ('adauto', 8),
 ('marceline', 9),
 ('luana', 7.5),
 ('henrique', 6.5))

In [15]:
def concatenatupla(tp1, tp2):
  return tp1 + tp2

a = (2, 4, 5)
b = (6, 8, 12)
concatenatupla(a, b)

(2, 4, 5, 6, 8, 12)

In [21]:
def formatada(tupla):
  nome, logradouro, num, bairro = tupla
  return f'nome: {nome}, residente a {logradouro}, {num}, {bairro}.'

dadosCliente = ('manoelima', 'rua das couves', '42', 'Torre')

print (formatada(dadosCliente))

nome: manoelima, residente a rua das couves, 42, Torre.